<div class="hero py-4 text-center text-lg-start">
    <div class="container-xxl bd-gutter">
          <h1 class="f0">Bootstrap Icons</h1>
          <h3 class="text-secondary">(Cloned By REIIV)</h3>
          <p class="f3 font-weight-normal">Free, high quality, open source icon library with over 2,000 icons. Include them anyway you like—SVGs, SVG sprite, or web fonts. Use them with or without <a href="https://getbootstrap.com/">Bootstrap</a> in any project.</p>
          <p class="text-muted">Click Icon To Copy !</p>
    </div>
  </div>