<div class="row my-4">
    <div class="col-md-4">
  <h3 id="package-manager">Package manager</h3>
  <p>Install <a href="https://www.npmjs.com/package/bootstrap-icons">Bootstrap Icons</a>—including SVGs, icon sprite, and icon fonts—with npm or Composer. Then, choose how you&rsquo;d like to include the icons with the <a href="https://icons.getbootstrap.com/#usage">usage instructions</a>.</p>
  <div class="highlight"><pre tabindex="0" class="chroma"><code class="language-sh" data-lang="sh"><span class="line"><span class="cl">npm i bootstrap-icons</span></span></code></pre></div>
  <div class="highlight"><pre tabindex="0" class="chroma"><code class="language-sh" data-lang="sh"><span class="line"><span class="cl">composer require twbs/bootstrap-icons</span></span></code></pre></div>
    </div>
    <div class="col-md-4">
  <h3 id="download">Download</h3>
  <p><a href="https://github.com/twbs/icons/releases/">Releases are published on GitHub</a> and include icon SVGs, fonts, license, and readme. Our <code>package.json</code> is also included, though our npm scripts are primarily available for our development workflows.</p>
  <p><a class="btn btn-outline-primary" href="https://github.com/twbs/icons/releases/latest/">Download latest ZIP</a></p>
    </div>
    <div class="col-md-4">
  <h3 id="cdn">CDN</h3>
  <p>Include the icon fonts stylesheet—in your website <code>&lt;head&gt;</code> or via <code>@import</code> in CSS—from jsDelivr and get started in seconds. <a href="https://icons.getbootstrap.com/#icon-font">See icon font docs</a> for examples.</p>
  <div class="highlight"><pre tabindex="0" class="chroma"><code class="language-html" data-lang="html"><span class="line"><span class="cl"><span class="p">&lt;</span><span class="nt">link</span> <span class="na">rel</span><span class="o">=</span><span class="s">&#34;stylesheet&#34;</span> <span class="na">href</span><span class="o">=</span><span class="s">&#34;https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css&#34;</span><span class="p">&gt;</span></span></span></code></pre></div>
  <div class="highlight"><pre tabindex="0" class="chroma"><code class="language-css" data-lang="css"><span class="line"><span class="cl"><span class="p">@</span><span class="k">import</span> <span class="nt">url</span><span class="o">(</span><span class="s2">&#34;https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css&#34;</span><span class="o">)</span><span class="p">;</span></span></span></code></pre></div>
    </div>
  </div>